@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

.canvas {
    box-sizing: content-box;
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* gap: 1px; */
    /* background-color: black; */
    border: 10px solid black;
}

.grid-square {
    box-sizing: border-box;
    border: 1px solid gray;
}